.body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    .content-container {
        display: flex;
        justify-content: center;

        .content {
            min-height: 80vh;
            width: 90%;

            .content-body-container {
                margin-top: 3.5rem;
                display: flex;
                justify-content: center;
                // height: 50%;
                .content-body {
                    width: 55%;

                    h1 {
                        color: #5C5C5C;
                        text-align: center;
                        font-family: Outfit;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 136.5%;
                    }

                    p {
                        color: #5C5C5C;
                        text-align: center;
                        font-family: Outfit;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 136.5%;
                    }
                }
            }

            .input {

                // width: 100%;
                .example-full-width {
                    margin-top: 8rem;
                    width: 100%;
                }
            }
        }

    }

    .progress-button-container {
        display: flex;
        justify-content: center;
        // margin-bottom: 5rem;
        .progress-buttons {
            // position: fixed;
            
            width: 90%;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;

            .icon {
                padding: 0 10px;
            }

            .back-button {
                border: 2px solid #04A9F4;
                color: #04A9F4;
                text-transform: uppercase;
                background: none;
                padding: 5px 10px;
                font-size: 12px;
            }

            .continue-button {
                border: none;
                background: #04A9F4;
                color: white;
                font-size: 12px;
                padding: 5px 10px;
            }
        }
    }

    .bottom-info {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
    }

    .section-wrapper {
        // height: 1070vh;
        .content-container {
            height: 120vh;

            .recommendations {
                .content-body {
                    .first-line {
                        .recommended {
                            color: #5C5C5C;
                            font-family: Outfit;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 136.5%;
                            margin-bottom: 1rem;
                        }

                        .section-container {
                            display: flex;
                            justify-content: space-between;

                            .section {
                                height: 150px;
                                width: 350px;
                                background: #1C274C;
                                border-radius: 4px;
                                color: white;
                                display: flex;
                                align-items: center;

                                p {
                                    color: #FFF;
                                    font-family: Outfit;
                                    font-size: 22px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 136.5%;
                                    margin-left: 2rem;
                                }

                                span{
                                    color: #04A9F4;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 12rem;
                                    margin-bottom: 3rem;
                                    font-size: 22px;
                                }
                            }
                        }
                    }

                    .second-line {
                        margin-top: 5rem;

                        .recommended {
                            color: #5C5C5C;
                            font-family: Outfit;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 136.5%;
                            margin-bottom: 1rem;
                        }

                        .section-container {
                            display: flex;
                            justify-content: space-between;

                            .section {
                                height: 150px;
                                width: 350px;
                                border: 3px solid #5C5C5C;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                p {
                                    color: black;
                                    font-family: Outfit;
                                    font-size: 22px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 136.5%;
                                    margin-left: 2rem;
                                }
                                span{
                                    background-color: white;
                                    display: inline-block;
                                    margin-left: 3rem;
                                    padding-left: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .theme-wrapper {
        .content-container {
            height: 90vh;

            .recommendations {
                .content-body {
                    .first-line {
                        .recommended {
                            color: #5C5C5C;
                            font-family: Outfit;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 136.5%;
                            margin-bottom: 1rem;
                        }

                        .section-container {
                            display: flex;
                            justify-content: space-between;

                            .section {
                                height: 150px;
                                width: 350px;
                                background: #1C274C;
                                border-radius: 4px;
                                color: white;
                                display: flex;
                                align-items: center;

                                p {
                                    color: #FFF;
                                    font-family: Outfit;
                                    font-size: 22px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 136.5%;
                                    margin-left: 2rem;
                                }

                                span{
                                    color: #04A9F4;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 10rem;
                                    margin-bottom: 3rem;
                                    font-size: 22px;
                                }


                            }
                        }
                    }

                }
            }
        }
    }


    .review-wrapper {
       .left-side {
        background: #EBEEF3;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            height: 40%;
            width: 70%;

            .heading {
                width: 60%;
                margin-bottom: 1rem;
                h1 {
                    color: #5C5C5C;
                    font-family: Outfit;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 136.5%; 
                }
            }
            p{
                color: #5C5C5C;
                font-family: Outfit;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 36px;
            }
        }
       }

       .right-side {
        height: 80vh;
        .content {
            width: 70%;
            margin-top: 3rem;
            margin-left: 2rem;
            .input-group {
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                p {
                    color: #5C5C5C;
                    font-family: Outfit;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 136.5%;
                    margin-top: 1rem;
                }

                input {
                    border: none;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 136.5%;
                }

                .custom-input:focus {
                    outline: none;
                }

                input::placeholder{
                    color: #C4C4C4;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 136.5%;
                }
                .file-upload {
                    height: 75px;
                    width: 75px;
                    border-radius: 50%;
                    background: #EBEEF3;
                    margin-top:  -1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    label {
                        margin-left: 0.4rem;
                        color: #5C5C5C;
                        text-align: center;
                        font-family: Outfit;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 136.5%; /* 21.84px */
                    }

                    div {
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: 3.4rem;
                        left: 55px;
                        background: white;
                        border-radius: 50%;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
                        color:#04A9F4;
                        font-size: 12px;

                        i {
                           padding-left: 4px;
                           padding-top: 4px; 

                        }
                    }

                }
            }

            .input-file{
                width: 60%;
            }

        }
       }
    }

    .item-thumbnail {
        display: block;
        width: 100%;
        margin-bottom: 20px; /* Add a margin of 20px between items */
      }

      
    //   .fa-circle-check {
    //     position: absolute;
    //     top: 10px; /* Adjust the top position as needed */
    //     right: 10px; /* Adjust the right position as needed */
    //     font-size: 16px; /* Adjust the font size as needed */
    //     color: green; /* Adjust the icon color as needed */
    //   }

}